
/*로그인 모달 CSS*/
#loginModal .modal-dialog{
    max-width: 460px!important;
}

#loginModal .form-group{
    padding: 0!important;
}

#loginForm{
    margin: 15px 40px;
}

#loginModal .btn{
    margin: 5px 0px;
}

#loginModal .modal-footer{
    display: block;
    padding: 15px 0;
    margin: 0px 56px;
}

/*소셜 로그인 */

#socialLogin a:hover {
    filter: brightness(0.8);
    transition: 0.4s;
}
#socialLogin a {
    width: 110px;
    border-radius: 5px;

}

#googleLoginBtn{
    box-shadow: 0px 1px 1px grey;
    border: 1px solid #888;
}


#socialLogin img{
    width:20px;
    height:20px;
    vertical-align: middle!important;
}

#socialLogin span{
    padding-left: 3px;!important;
}


.background-purple{
    background-color: #b39ddb;
}

.white{
    color: white;
}

#loginModal .btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none;!important;
}
#loginModal .btn:hover {
    filter: brightness(0.8);
    transition: 0.4s;
}

/*비밀번호 보이기*/
.pass_show{position: relative}

.pass_show .ptxt {
    position: absolute;
    top: 50%;
    right: 10px;
    z-index: 1;
    color: black;
    margin-top: -8px;
    cursor: pointer;
    transition: .3s ease all;
}

/*=================================로그인 모달 끝*=================================*/
/*=================================검색 모달 시작*=================================*/
#searchModal .modal-dialog{
    width: 100%!important;
    max-width: 100%;
    position: absolute;
    margin: 0;
}

#searchModal .modal-header{
    display: flex;
    /*justify-content: space-between;*/
    align-items: center;
    height: 135px!important;
    border: 0;
}

#searchModal .input-group-append{
    border: 0!important;
}

.input-icon{
    position: relative;
    flex: 1;
}

.input-icon .append-icon{
    position: absolute;
    top: 50%;
    right: 20px;
    z-index: 1;
    color: black;
    margin-top: -8px;
    cursor: pointer;
    transition: .3s ease all;

}

.input-icon input{
    background-color: rgb(245,245,244);
    border-radius: 20px;
    border: 0;
}

.input-icon input:focus,input:active {
    background-color: rgb(245,245,244);
    outline: none !important;
    box-shadow: none;!important;
}

.search-bar{
    display: flex;
    align-items: center
}

.modal-close-span{
    margin-left: 10px;
    color: lightgray;
    cursor: pointer;
}

#searchModal .modal-body{
    display: flex;
    flex-direction: column;
}