.join-carousel div{
    background-color: white!important;
}

.form-check{
    padding: 0;
}

.join-header .col-5{
    padding: 0!important;
}
.form-group .row button{
    width: 100%;
    margin:0!important;
}