### Java template
### *.class
 
# Package Files #
### *.jar
### *.war
### *.ear
 
### macOS template
### *.DS_Store
### .AppleDouble
### .LSOverride
 
# IntelliJ project files
### .idea
### .idea/*.xml
### *.iml
### out
### gen
### build
### rebel.xml
 
# Compliled files
/target/
**/target
 
/example/

# 부트로컬 파일(유병수)
/src/main/webapp/resources/bootstrap
