<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.mybatis.example.AttatchMapper">
	<!-- 간단한건 annotation으로 처리, 긴것등 xml로 표현 -->
	<!--여러 첨부파일을 넣을때 첨부파일 한 게시글에 5개 까지 가능하다, -->
	<!-- VALUES 공통 -->
	<insert id="addAttaches">
<![CDATA[
	INSERT INTO attach(uuid,uploadpath,filename,filetype,bno)
	VALUES
]]>
		<!-- 반복문 -->
		<foreach collection="list" item="attach" separator=",">
			(#{attach.uuid},#{attach.uploadpath},#{attach.filename},#{attach.filetype},#{attach.bno})

		</foreach>

	</insert>

	<!-- 여러개 묶어서 파일 가져오기 -->
	<select id="getAttachesByUuids" resultType="attachVO">
<![CDATA[
	SELECT*
	FROM attach
	WHERE uuid IN
]]>
		<foreach collection="list" item="uuid" open="(" separator=","
			close=")">
			#{uuid}
		</foreach>

	</select>


	<delete id="deleteAttachesByUuids">
		<![CDATA[
			DELETE
			FROM attach
			WHERE uuid IN
		]]>
		<foreach collection="list" item="uuid" open="(" separator=","
			close=")">
			#{uuid}
		</foreach>
		<!-- foreach로 돌리면 ('10','30','uuid',....) 이러한 형태의 uuid가 나온다 -->
	</delete>


	<select id="getAttachesByBno" resultType="attachVO">
		<![CDATA[
			SELECT *
			FROM attach
			WHERE bno = #{bno}
			ORDER BY filetype, filename
		]]>
	</select>




































</mapper>