<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.BookmarkMapper">
  
  
 
  
  <!-- 북마크 가져오기 -->
  <select id="getBookmarksAll" resultType="bookmarkVO">
  	<![CDATA[
  		SELECT * FROM bookmark WHERE mid = #{mid)
  	]]>
  </select>
  
  <!-- 북마크 하나 추가하기 -->
  <insert id="addBookmark">
  	<![CDATA[
 		INSERT INTO bookmark(mid, streamerId, streamerName, profile_image_url)
 		VALUES(#{mid}, #{streamerId}, #{streamerName}, #{profile_image_url})
 	]]>
  </insert>
  
  <select id="getCountbyIdAndStreamerId" resultType="int">
  	<![CDATA[
 		SELECT count(*) FROM bookmark WHERE mid = #{mid} AND streamerId = #{streamerId}
 	]]>
  </select>

  
  
</mapper>