<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.MemberMapper">
	
	<select id="getMembers" resultType="memberVO">
		<![CDATA[
			SELECT * FROM member
		]]>
	</select>
	
	
	<select id="getMemberById" resultType="memberVO">
		<![CDATA[
			SELECT * FROM member WHERE id = #{id}
		]]>
	</select>
	
	
	<select id="getMemberCount" resultType="int">
		<![CDATA[
			SELECT COUNT(*) FROM member WHERE id = #{id}
		]]>
	</select>
	
	
	<select id="getMembersAndProfilepics" resultMap="membersAndprofilepics">
		<![CDATA[
			SELECT * FROM member m left join profilepic p
			ON m.id = p.mid
		]]>
	</select>
	<resultMap type="memberVO" id="membersAndprofilepics">
		<id column="id" property="id" />
		<result column="passwd" property="passwd" />
		<result column="name" property="name" />
		<result column="nickname" property="nickname" />
		<result column="birthday" property="birthday" />
		<result column="gender" property="gender" />
		<result column="email" property="email" />
		<result column="reg_Date" property="regDate" />
		<result column="recv_email" property="recvEmail" />
		
		<association property="profilepicVO" javaType="profilepicVO">
			<id column="mid" property="mid" />
			<result column="uuid" property="uuid" />
			<result column="uploadpath" property="uploadpath" />
			<result column="filename" property="filename" />
		</association>
	</resultMap>
	
	<select id="getMemberAndProfilepic" resultMap="memberAndProfilepic">
		<![CDATA[
			SELECT * FROM member m left join profilepic p
			ON m.id = p.mid
			WHERE m.id = #{id}
		]]>
	</select>
	<resultMap type="memberVO" id="memberAndProfilepic">
		<id column="id" property="id" />
		<result column="passwd" property="passwd" />
		<result column="name" property="name" />
		<result column="nickname" property="nickname" />
		<result column="birthday" property="birthday" />
		<result column="gender" property="gender" />
		<result column="email" property="email" />
		<result column="reg_Date" property="regDate" />
		<result column="recv_email" property="recvEmail" />
		
		<association property="profilepicVO" javaType="profilepicVO">
			<id column="mid" property="mid" />
			<result column="uuid" property="uuid" />
			<result column="uploadpath" property="uploadpath" />
			<result column="filename" property="filename" />
		</association>
	</resultMap>
	
	<select id="getMembersNotadmin" resultType="memberVO">
      <![CDATA[
         SELECT * FROM member WHERE id != 'admin'
      ]]>
   </select>
   
    <!-- 페이징으로 글 가져 오기 -->
   <select id="getMembersWithPaging" resultType="memberVO">
      <![CDATA[
         SELECT * 
         FROM member 
      ]]>
      <where>
         <if test="type == 'id'.toString()">
            subject LIKE CONCAT('%', #{keyword}, '%')
         </if>
         <if test="type == 'name'.toString()">
            content LIKE CONCAT('%', #{keyword}, '%')
         </if>
         <if test="type == 'nickname'.toString()">
            mid LIKE CONCAT('%', #{keyword}, '%')
         </if>
      </where>
      <![CDATA[
         ORDER BY id ASC 
         LIMIT #{startRow}, #{amount} 
         
      ]]>
   </select>
   
   <!--검색어가 적용된 전체 멤버 개수 가져오기 -->
   <select id="getCountBySearch" resultType="int">
   <![CDATA[
      SELECT COUNT(*) AS cnt
      FROM member
   ]]>
      <where>
         <if test="type == 'id'.toString()">
            subject LIKE CONCAT('%',#{keyword},'%')
         </if>
         <if test="type == 'name'.toString()">
            content LIKE CONCAT('%', #{keyword}, '%')
         </if>
         <if test="type == 'nickname'.toString()">
            mid LIKE CONCAT('%', #{keyword},'%')
         </if>
      </where>
	   <![CDATA[
			LIMIT #{startRow}, #{amount}
		]]>
   </select>
   
   
	
</mapper>