<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.ProfilepicMapper">

	<insert id="insertProfilepic">
		<![CDATA[
			INSERT INTO profilepic (mid, uuid, uploadpath, filename)
			VALUES (#{mid}, #{uuid}, #{uploadpath}, #{filename})
		]]>
	</insert>
	
	<delete id="deleteProfilepicById">
		<![CDATA[
			DELETE FROM profilepic
			WHERE mid = #{id}
		]]>
	</delete>
	
	<update id="updateProfilepicById">
		<![CDATA[
			UPDATE profilepic
			SET uuid=#{uuid}, uploadpath=#{uploadpath}, filename=#{filename}
			WHERE mid=#{mid}
		]]>
	</update>
	
	<select id="getProfilepicById" resultType="profilepicVO">
		<![CDATA[
			SELECT * FROM profilepic WHERE mid = #{id}
		]]>
	</select>
	
	<select id="getProfilepics" resultType="profilepicVO">
		<![CDATA[
			SELECT * FROM profilepic WHERE mid = #{id}
			ORDER BY mid ASC
		]]>
	</select>

</mapper>