<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.TwitchStreamerMapper">
  	
  	<select id="searchStreamer" resultType="string">
  		<![CDATA[
		SELECT id FROM twitchstreamer
		]]>
		<where>
			LOWER(name) LIKE LOWER(CONCAT('%',#{name},'%'))
		</where>
  	</select>
  
</mapper>