<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee https://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

    <!-- The definition of the Root Spring Container shared by all Servlets and Filters -->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/spring/root-context.xml</param-value> <!-- bean 설정파일 -->
    </context-param>
    <!-- Creates the Spring Container shared by all Servlets and Filters -->
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <!-- Processes application requests -->
    <servlet>
        <servlet-name>appServlet</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class> <!-- 프론트 컨트롤러 -->
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>/WEB-INF/spring/appServlet/servlet-context.xml</param-value> <!-- 컨트롤러 스캔정보 -->
        </init-param>
        <load-on-startup>1</load-on-startup>
        
        <!-- 파일 업로드 설정 -->
        <!-- 파일 하나당 허용크기는 임시로 10MB -->
        <!-- 모든 파일 업로드 허용크기는 임시로 30MB (첨부파일 3개) -->
    	<multipar-config>
    		<location>C:/project_myStreaming/upload/temp</location>
    		<file-size-thresold>5,242,880</file-size-thresold>
    		<max-file-size>10485760</max-file-size>
    		<max-request-size>31457280</max-request-size>
    	</multipar-config>
        
    </servlet>

    <servlet-mapping>
        <servlet-name>appServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <!-- 필터가 먼저 실행되고 서블릿(jsp 등)이 실행됨 -->
    <!-- 한글설정 필터추가 -->
    <filter>
        <filter-name>CharacterEncodingFilter</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>utf-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>CharacterEncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <!-- 한글설정 END -->

</web-app>
